{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'videos/style.css' %}" />
</head>
<body>
<div class='topbar'>
<strong style="float: left; display: inline-block; font-size: 150%;">&nbsp;<a href="{% url 'videos:index' %}">PyTube</a></strong>
<form action="{% url 'videos:search' %}" style="float: right; font-size: 130%; display: inline-block;" method="get">
<input type="text" id="search" name="search" />
<input type="submit" value="Search" />
</form>
</div>
<div style="height: 30;"></div>
<table><tr><td>
{% if best_videos_list %}
    <ul>
    {% for video in best_videos_list %}
    {% if video.listed %}
    <li><a href="{% url 'videos:video' video.id %}"><img src="/{{ video.thumbnail }}" height="100"/><br>{{ video.title }}: {{ video.uploader }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No videos are available.</p>
{% endif %}
</td>
<td>
<div class='adbox'></div>
</td></tr></table>
</body>