{% extends "base.html" %}
{% block content %}
  <center style="text-align: center; font-size: 130%">
	  <a href="/about"> About Us </a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  <a href="/index/videos"> Videos </a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  <a href="/index/podcasts"> Podcasts </a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  <a href="/index/streams"> Live Streams </a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  <a href="/index/posts"> Blog Posts </a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  <a href="/index/playlists"> Playlists </a>&nbsp;&nbsp;|&nbsp;&nbsp;
	  <a href="/index/users"> Users </a>
  </center>
  <br>
{% if not request.user.is_superuser %}
<center class="ad">
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"vidshareads","width":728,"height":90,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</center>
{% endif %}
{% if best_videos_list %}
    <div class = "row">
    {% for video in best_videos_list %}
    {% if video.listed %}
    <div class="column" style="vertical-align: middle; text-align: center; align-content: center; align-items: center;">
    {% if video.video_file %}
    <a href="{% url 'videos:video' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Video: {{ video.title }}
    {% elif video.audio_file %}
    <a href="{% url 'videos:podcast' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Podcast: {{ video.title }}
    {% elif video.stream_key %}
    <a href="{% url 'videos:stream' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Live: {{ video.title }}
    {% elif video.videos %}
    <a href="{% url 'videos:playlist' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Playlist: {{ video.title }}
    {% endif %}
    <br><em style="font-size: 75%;">by: {{ video.created_by.username }}</em></a>
    </div>
    {% elif video.profile.listed %}
    <div class="column" style="vertical-align: middle; text-align: center;"><a href="{% url 'videos:user' video.id %}"><img src="/{{ video.profile.profile_pic }}" width=192 height=180 /><br>User: {{video.username}}</a></div>
    {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>No videos are available.</p>
{% endif %}
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <div style="display: inline-block"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></div>
    {% else %}
      <div style="display: inline-block" class="disabled"><span>&laquo;</span></div>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <div style="display: inline-block" class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></div>
      {% else %}
        <div style="display: inline-block"><a href="?page={{ i }}">{{ i }}</a></div> 
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <div style="display: inline-block"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></div>
    {% else %}
      <div style="display: inline-block" class="disabled"><span>&raquo;</span></div>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
