{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">{{ playlist.title }}</h1>
<h3 style="text-align: center;"><em>created by: <a href="{% url 'videos:user' playlist.created_by.id %}">{{ playlist.created_by.username }}</a></em></h3>
{% if not request.user.is_superuser %}
<center class="ad">
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"vidshareads","width":728,"height":90,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</center>
{% endif %}
{% if best_videos_list %}
    <div class = "row">
    {% for video in best_videos_list %}
    {% if video.listed %}
    <div class="column" style="vertical-align: middle; text-align: center; align-content: center; align-items: center;">
    {% if video.video_file %}
    <a href="{% url 'videos:video' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Video: {{ video.title }}
    {% elif video.audio_file %}
    <a href="{% url 'videos:podcast' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Podcast: {{ video.title }}
    {% elif video.stream_key %}
    <a href="{% url 'videos:stream' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Live: {{ video.title }}
    {% endif %}
    <br><em style="font-size: 75%;">by: {{ video.created_by.username }}</em></a>
    </div>
    {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>No videos are available.</p>
{% endif %}
{% endblock %}
