{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'videos/style.css' %}" />
</head>
<body>
<div class='topbar'>
<strong style="float: left; display: inline-block; font-size: 150%;">&nbsp;<a href="{% url 'videos:index' %}">PyTube</a></strong>
<form action="{% url 'videos:search' %}" style="float: right; font-size: 130%; display: inline-block;" method="get">
<input type="text" id="search" name="search" />
<input type="submit" value="Search" />
</form>
</div>
<div style="height: 30;"></div>
<table>
<form action="{% url 'videos:createuser' %}" method="POST">
{% csrf_token %}
<tr><td><label for="name">Username: </label></td>
<td><input type="text" id="name" name="name" /></td></tr>
<tr><td><label for="email">Email: </label></td>
<td><input type="email" id="email" name="email" /></td></tr>
<tr><td><label for="password">Password: </label>
<td><input type="password" id="password" name="password" /></td></tr>
<tr style="align-items: center;"><input type="submit" value="Create User" /></tr>
</form>
</table>
</body>