{% extends "base.html" %}
{% block content %}
{% if not request.user.is_superuser %}
<center class="ad">
<a href="//www.chitika.com/publishers/apply?refid=vidshareads"><img src="//images.chitika.net/ref_banners/728x90_money.png" /></a>
</center>
{% endif %}
<table>
<form action="{% url 'videos:createuser' %}" method="POST">
{% csrf_token %}
<tr><td><label for="name">Username: </label></td>
<td><input type="text" id="name" name="name" /></td></tr>
<tr><td><label for="email">Email: </label></td>
<td><input type="email" id="email" name="email" /></td></tr>
<tr><td><label for="password">Password: </label>
<td><input type="password" id="password" name="password" /></td></tr>
<tr><td><label for="pass2">Confirm Password:</label></td>
<td><input name="pass2" id="pass2" onkeyup="checkPass(); return false;" type="password"></td></tr>
<tr style="align-items: center; text-align: center;"><td colspan=2><input type="submit" id="submit" value="Create User" disabled /><span id="confirmMessage" class="confirmMessage"></span></td></tr>
</form>
<script>
function checkPass()
{
	var pass1 = document.getElementById('password');
	var pass2 = document.getElementById('pass2');
	var message = document.getElementById('confirmMessage');
	var submitbutton = document.getElementById('submit');
	var goodColor = "#66cc66";
	var badColor = "#ff6666";
	if(pass1.value == pass2.value){
		pass2.style.backgroundColor = goodColor;
		message.style.color = goodColor;
		message.innerHTML = "Passwords Match!";
		submitbutton.disabled = false;
	}else{
		pass2.style.backgroundColor = badColor;
		message.style.color = badColor;
		message.innerHTML = "Passwords Do Not Match!";
		submitbutton.disabled = true;
	}
}
</script>
</table>
{% endblock %}
