{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'videos/style.css' %}" />
</head>
<body>
    <div class='topbar'>
        <strong style="float: left; display: inline-block; font-size: 150%;">&nbsp;<a href="{% url 'videos:index' %}"><img src="{% static 'logo.png' %}" height="50" width="100" alt="VidShare"></a></strong>
        <form action="{% url 'videos:search' %}" style="float: right; font-size: 130%; display: inline-block;" method="get">
        <input type="text" id="search" name="search" />
        <input type="submit" value="Search" />
        </form>
        </div>
        <div style="height: 50;"></div>
<h1 style="text-align: center;">Subscribe to {{ subscriptionmanager.title }}</h1>
<h3 style="text-align: center;"><em>by: {{ subscriptionmanager.created_by.username }}</em></h3>
<table>
<form action="{% url 'videos:addsubscription' subscriptionmanager.id %}" method="POST">
{% csrf_token %}
<tr><td><label for="email">Email: </label></td>
<td><input type="email" id="email" name="email" /></td></tr>
<tr><td colspan="2" style="align-items: center;"><input type="submit" value="Subscribe" /></td></tr>
</form>
</table>
</body>