{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">{{ user.username }}</h1>
<h3 style="text-align: center;"><em>Joined on: {{ user.date_joined }}</em></h3>
<center>
<table>
<tr>
<td>
<img src="/{{ user.profile.profile_pic }}" height=200 />
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td colspan=2>
<p><pre>{{ user.profile.bio }}</pre></p>
</td>
</tr>
</table>
</center>
<br><br>
<center>
<h4>Total content uploaded: {{ content_count }}</h4>
<h4>Total views: {{ total_views }}</h4>
<h4>Total votes: {{ total_votes }}</h4>
<h4>Total subscribers: {{ total_subscribers }}</h4>
</center>
{% endblock %}
