{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'videos/style.css' %}" />
</head>
<body>
    <div class='topbar'>
    <strong style="float: left; display: inline-block; font-size: 150%;">&nbsp;<a href="{% url 'videos:index' %}"><img src="{% static 'logo.png' %}" height="50" width="100" alt="VidShare"></a></strong>
    <form action="{% url 'videos:search' %}" style="float: right; font-size: 130%; display: inline-block;" method="get">
    <input type="text" id="search" name="search" />
    <input type="submit" value="Search" />
    </form>
    </div>
    <div style="height: 50;"></div>
<h1 style="text-align: center;">{{ user.username }}</h1>
<h3 style="text-align: center;"><em>Joined on: {{ user.date_joined }}</em></h3>
<center>
<table>
<tr>
<td>
<img src="/{{ user.profile.profile_pic }}" height=200 />
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td colspan=2>
<p><pre>{{ user.profile.bio }}</pre></p>
</td>
</tr>
</table>
</center>
<center class="ad">
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"vidshareads","width":728,"height":90,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</center>
<br><br>
{% if user.subscriptionmanager_set %}
    <div class = "row">
    {% for subscription in user.subscriptionmanager_set.all %}
    <div class="column" style="vertical-align: middle; text-align: center; align-content: center; align-items: center; height: 75;"><a href="{% url 'videos:subscribe' subscription.id %}">Subscribe to {{ subscription.title }}</a></div>
    {% endfor %}
    </div>
{% endif %}
{% if best_videos_list %}
    <div class = "row">
    {% for video in best_videos_list %}
    {% if video.listed %}
    <div class="column" style="vertical-align: middle; text-align: center; align-content: center; align-items: center;">
    {% if video.video_file %}
    <a href="{% url 'videos:video' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Video: {{ video.title }}
    {% elif video.audio_file %}
    <a href="{% url 'videos:podcast' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Podcast: {{ video.title }}
    {% elif video.stream_key %}
    <a href="{% url 'videos:stream' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Live: {{ video.title }}
    {% elif video.videos %}
    <a href="{% url 'videos:playlist' video.id %}"><img src="/{{ video.thumbnail }}" width="192" height="180"/><br>Playlist: {{ video.title }}
    {% endif %}
    <br><em style="font-size: 75%;">by: {{ video.created_by.username }}</em></a>
    </div>
    {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>No videos are available.</p>
{% endif %}
<div class='footer' style="float: right;">
<a href="/admin">Login</a>&nbsp;|&nbsp;<a href="/register">Register</a>&nbsp;
</div>
</body>
