{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">{{ video.title }}</h1>
<h3 style="text-align: center;"><em>uploaded by: <a href="{% url 'videos:user' video.created_by.id %}">{{ video.created_by.username }}</a> on {{ video.pub_date }}</em></h3>
<br>
<center>
<table>
<tr>
<td>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<video src="/{{video.video_file}}" style="width:640px;height:360px;" controls> 
{% for track in video.subtitle_set.all %}
<track src="/{{track.subtitle_file}}" label="{{track.language}}" kind="subtitles" srclang="{{track.language}}" />
{% endfor %}
</video>
<h4 style="color: plum;">Views: ({{ video.views }}), Rating: ( {{ video.up_votes }} )</h4>
<form action="{% url 'videos:rate' video.id %}" method="post">
{% csrf_token %}
<input type="radio" name="choice" id="up" value="up" />
<label for="up"><img src="{% static "up_vote.png" %}" style="width:40px;height:40px;"></label>
<input type="radio" name="choice" id="down" value="down" />
<label for="down"><img src="{% static "down_vote.png" %}" style="width:40px;height:40px;"></label><br>
<input type="submit" value="Rate" />
</form>
<p>{{ video.description }}</p>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<h3>Add a Comment:</h3>
<form action="{% url 'videos:comment' video.id %}" method="post">
{% csrf_token %}
<!--<label for="name">Name: </label>-->
<input type="text" name="name" id="name" value="{{ request.user.username }}" hidden />
<textarea style="display: block; height: 100px; width: 100%" name="comment_text" id="comment_text"></textarea><br><br>
{% if request.user.is_authenticated %}
<input type="submit" value="Post Comment" />
{% else %}
<div style="background-color: grey; border-radius: 20px;">&nbsp;&nbsp;&nbsp;<a href="/admin">Login</a> or <a href="/register">Register</a> to comment.</div>
{% endif %}
</form>
<h3>Comments:</h3>
<div style="height: 400; overflow: auto;">
{% if not request.user.is_superuser %}
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"vidshareads","width":320,"height":50,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
{% endif %}
{% for comment in video.comment_set.all %}
    <h4>{{ comment.name }} &lt;<i>{{ comment.pub_date }}</i>&gt;</h4>
    <blockquote><pre>{{ comment.message }}</pre></blockquote>
{% endfor %}
</div>
</td>
{% if not request.user.is_superuser %}
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"vidshareads","width":300,"height":600,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
</td>
{% endif %}
</tr>
</table>
</center>
{% endblock %}
